<?php

/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */

declare(strict_types=1);

return [
    'logstash'       => [
        'socketConnection' => 'logstash:50000',
        'appName'          => 'core',
    ],
    'db'             => [
        'core' => [
            'driver' => 'pdo_mysql',
            'host'   => 'db',
            'dbname' => 'core',
            'user'   => 'admin',
            'pass'   => $_ENV['ADMIN_DB_ROOT_PASSWORD'],
        ],
    ],
    'authentication' => [
        'realm' => 'api',
        'pdo'   => [
            'table'    => 'apikey',
            'field'    => [
                'identity' => 'username',
                'password' => 'apikey',
            ],
            'dsn'      => 'mysql:dbname=core;host=db',
            'username' => 'admin',
            'password' => $_ENV['ADMIN_DB_ROOT_PASSWORD'],
        ],
    ],
];
